body{
    direction: rtl;
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: 'Yekan', serif;
    background-color: white;
    height: 100vh;
}
.se-header{
    height: 10%; 
    margin: -8px -10px 0 -10px;
    padding-right: 5px;
    display: flex;
    background-color: #008b8b;
}
.se-header-icon{
    background-color: white;
    border-radius: 25px;
    height: 70%;
}
.se-header-name{
    color: white;
    font-size: 14px;
    margin-right: 3px;
}
.se-content{
   height: 82%;
}
.se-toolsbar{
    height: 8%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-top: 1px lightgray solid;
}

.se-btn{
    border: none;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
}
